<!doctype html>
<html lang="en">



  <head>
  <style>
  body {
        background-image: url("https://mcdn.wallpapersafari.com/medium/69/90/EZsxeJ.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        background-size: cover;
        background-color: #cccccc;
}

</style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}City location{% endblock %}</title>
  </head>

  {% block content %}
  <h1>Hello, everyone! ECE569 IoT Project</h1>
  {% endblock %}

  </body>
</html>